@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/************************Navbar**************************/
nav {
  z-index: 2;
}

.logo {
  width: 50px;
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.5px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

/**********************GetStarted****************************/
.navbar .getstarted {
  padding: 8px 20px;
  margin-left: 0;
  border-radius: 4px;
  color: var(--primary-white) !important;
  background-color: var(--primary-red) !important;
  border: 2px solid var(--primary-dark);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  display: inline-block;

}

.navbar .getstarted:hover {
  color: var(--primary-white);
  background: #f9ab00;
}

.navbar>ul>li>.getstarted::before {
  visibility: hidden;
}

/***********************Header*****************************/
.header-wrapper {
  position: relative;
  background: url(background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-wrapper .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.header-wrapper .btn-scroll:hover {
  color: rgba(255, 255, 255, 0.6);
}

.header-wrapper .btn-scroll {
  font-size: 60px;
  bottom: 5.5%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 25px;

}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
}

.main-info h1 {
  color: var(--primary-red);
  text-transform: uppercase;
  font-size: 4rem;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

/************Typed Text*****************/
.typed-text {
  font-size: 3rem;
  color: var(--primary-white);
}

/**************Particles*******************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/*********************FOOTER**************************/

#footer {
  background: #121d24;
  padding: 0 0 30px 0;
  color: var(--primary-white);
  font-size: 0.9rem;
  /* text-align: center; */
}

#footer .footer-top {
  background: #15222b;
  border-bottom: 1px solid #1d303c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--primary-white);
}

#footer .footer-top .footer-info p .phone {
  font-size: 75px;
  line-height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: var(--primary-red);
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  /* width: 36px;
  height: 36px; */
  transition: 0.3s;
}

#footer .footer-top .footer-info p .mail {
  font-size: 75px;
  line-height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: var(--primary-red);
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  /* width: 36px;
  height: 36px; */
  transition: 0.3s;
}

#footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #1DA1F2;
  color: var(--primary-white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1DA1F2;
  color: var(--primary-white);
  text-decoration: none;
}

#footer .copyright {
  text-align: right;
  padding-top: 30px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

/*******************Section***********************/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fff9f7;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title h4 {
  font-family: 'Courier New', Courier, monospace;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

/******************Breadcrumbs****************************/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f4f5f6;
  min-height: 40px;
  margin-top: 78px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/******************About*************************/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3b434a;
  text-transform: uppercase;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  line-height: 0;
  color: #ffb727;
}

.about .image {
  background: url(about.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

/*********************Contact***************************/
.contact .form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .form input {
  padding: 10px 15px;
}

.contact .form textarea {
  padding: 12px 15px;
}

.contact .form button[type="submit"] {
  background: red;
  border: 0;
  padding: 10px 24px;
  color: var(--primary-white);
  transition: 0.4s;
}

.contact .form button[type="submit"]:hover {
  background: red;
}

/*********************Services**************************/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  transition: all ease-in-out 0.4s;
}

.services .icon-box i {
  float: left;
  color: #5c8eb0;
  font-size: 40px;
  line-height: 0;
  transition: 0.3s;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 a {
  color: #365870;
  transition: 0.3s;
  text-decoration: none;
}

.services .icon-box:hover {
  transform: translateY(-20px);
}

.services .icon-box .icon-box:hover h4 a {
  color: #f9ab00;
}

.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}

.services .icon-box:hover h4 a {
  color: #f9ab00;
}