@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
body {
  font-family: "Roboto Condensed" sans-serif;
}
/************************Navbar**************************/
nav{
  z-index: 2;
}
.logo {
  width: 50px;
}
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color:var(--primary-white) !important ;
  border-bottom: 00.1875rem solid var(--primary-dark);
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-orange);
}
/***********************Header*****************************/
.header-wrapper {
  position: relative;
  background: url(background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
}

.main-info h1 {
  color: var(--primary-red);
  text-transform: uppercase;
  font-size: 4rem;
}
@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/************Typed Text*****************/
.typed-text {
  font-size: 3rem;
  color: var(--primary-white);
}

/**************Particles*******************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
@media(max-width: 768px) {
  .particles-canvas{
    display: none;
  }
}
/*********************FOOTER**************************/

#footer {
  background: #121d24;
  padding: 0 0 30px 0;
  color: var(--primary-white);
  font-size: 0.9rem;
  /* text-align: center; */
}

#footer .footer-top {
  background: #15222b;
  border-bottom: 1px solid #1d303c;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--primary-white);
}

#footer .footer-top .footer-info p .phone {
  font-size: 75px;
  line-height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: var(--primary-red);
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  /* width: 36px;
  height: 36px; */
  transition: 0.3s;
}
#footer .footer-top .footer-info p .mail {
  font-size: 75px;
  line-height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: var(--primary-red);
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  /* width: 36px;
  height: 36px; */
  transition: 0.3s;
}

#footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #1DA1F2;
  color: var(--primary-white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1DA1F2;
  color: var(--primary-white);
  text-decoration: none;
}

#footer .copyright {
  text-align: right;
  padding-top: 30px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
